<div class="container">
    <form class="form mat-elevation-z8">
        <div class="cabLogin">
            <!-- <img src="assets/img/letsLogo.jpeg" alt="img login"> -->
            <h1 class="full-width centralizado">Let's Beautify</h1>
            <h4 class="full-width centralizado">Agendamentos Online</h4>
        </div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>CPF</mat-label>
            <input [formControl]="cpfControl" [(ngModel)]="cpf" name="cpf" matInput>
            <!-- <mat-icon matSuffix>email</mat-icon> -->
        </mat-form-field>

        <button mat-raised-button matTooltip="Click para consultar agendamentos em seu cpf" matTooltipPosition="after"
            (click)="consultar()" class="mat-elevation-z4" mat-stroked-button color="white">Consultar</button>
        <br><br>

        <div mat-raised-button matTooltip="Retornar para a página de login" class="full-width centralizado">
            <a [routerLink]="['../']">Retornar</a>
        </div>

        <h4 class="full-width centralizado linkAPI"> Essa é uma interface gráfica para a API de consulta de agendamentos
            realizados por meio de nosso app em seu cpf.</h4>

        <p class="full-width centralizado exemplo">Você também pode optar em fazer a requisição diretamente via url
            bastando apenas informar o número de seu CPF após a barra. por exemplo: https://letsbeautify-prod.herokuapp.com/SEU_CPF</p> 

    </form>
    <p class="fullwidth sign"><a href="https://github.com/TonnyJames" target="_blank">Desenvolvido por: Tonny Reis</a>
    </p>


</div>