<div class="container mat-elevation-z8">
    <h1 class="full-width">Atualizando agendamentos</h1>
    <!-- <img class="full-width" src="assets/img/penrose.svg" alt="agendamento img"> -->

    <form class="form">
        <mat-form-field class="full-width campoLogin" appearance="outline">
          <mat-label>Visualização do agendamento</mat-label>
          <input [disabled]="true"
          [(ngModel)]="agendamento.titulo" name="titulo"
          matInput placeholder="Ex. um exemplo de serviço">
        </mat-form-field>
      </form>

      <div class="status-prioridade">
        <mat-form-field appearance="outline">
            <mat-label>Status({{ retornaStatus(agendamento.status) }})</mat-label>
            <mat-select [disabled]="true"
            [(ngModel)]="agendamento.status" name="status">
              <mat-option value="0">Aberto</mat-option>
              <mat-option value="1">Em andamento</mat-option>
              <mat-option value="2">Encerrado</mat-option>
            </mat-select>
          </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Prioridade({{ retornaPrioridade(agendamento.prioridade) }})</mat-label>
            <mat-select [disabled]="true"
            [(ngModel)]="agendamento.prioridade" name="prioridade">
              <mat-option value="0">Baixa</mat-option>
              <mat-option value="1">Média</mat-option>
              <mat-option value="2">Alta</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="colaborador">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Técnico({{ agendamento.nomeColaborador }})</mat-label>
            <mat-select [disabled]="true"
            [(ngModel)]="agendamento.colaborador" name="colaborador">
              <mat-option>  {{ agendamento.nomeColaborador }}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <div class="cliente">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Cliente({{agendamento.nomeCliente}})</mat-label>
            <mat-select [disabled]="true"
            [(ngModel)]="agendamento.cliente" name="cliente">
              <mat-option >{{agendamento.nomeCliente}}</mat-option>
            </mat-select>
          </mat-form-field>
      </div>

      <form class="form">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Descrição</mat-label>
          <textarea [disabled]="true"
          [(ngModel)]="agendamento.observacoes" name="observacoes"
          class="descricao" matInput></textarea>
        </mat-form-field>
      </form>

      <button routerLink="../../" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Retornar</button>

      <p class="full-width">Desenvolvido por Tonny James</p>
</div>


