.container {
    width: 80%;
    margin: auto;
}

table {
    width: 100%;
  }
  mat-form-field {
      width: 100%;
  }

  button {
      width: 100%;
  }

  h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
  }
  .edit {
      color: darkorange;
  }
  .delete {
      color: rgb(136, 0, 0);
  }

  .sign {
    
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    padding-bottom: 1rem;
    opacity: 60%;
}

.sign a {
    text-decoration: none;
    color: maroon;
}