.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(174deg, rgba(43,34,35,1) 42%, rgba(173,23,40,1) 100%);
}

h1 {
    margin-left:auto;
    margin-right:20%;
    margin-top: 1rem;
    border: 1px solid #F25774;
    padding: 1rem 10%;
    border-radius: 2rem;
    color: #F25774;
}

.nomeUser {
    margin-right: 2rem;
}