mat-card{
    background: linear-gradient(174deg, rgba(43,34,35,1) 42%, rgba(173,23,40,1) 100%);
    height: 100%;

}

.container {
    padding-top: 3rem;
    width: 90%;
    margin: auto;
}

table {
    width: 100%;
  }
  mat-form-field {
      width: 100%;
  }

  button {
      width: 100%;
        }

  h1 {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem;
      color:white;
  }

  mat-radio-group {
      display: flex;
      justify-content: space-around;
      margin-bottom: 1rem;
  }

  .sign {
    
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    padding-bottom: 1rem;
    opacity: 60%;
}

.sign a {
    text-decoration: none;
    color: white;
}
