mat-card {
    width: 100%;
    justify-content: center;
    margin: auto auto 3rem auto;;
}

#fullwidth {
    width: max-content;
}

body {
    grid-auto-flow       : column;
    display              : flex;
    grid-template-columns: 310px 310px 310px;
    grid-gap             : 20px;
}

.align {
    display          : flex;
    grid-auto-flow   : column;
    grid-auto-columns: 1fr;
    /* padding          : 2px 10px; */
    text-align       : center;
    height           : 15rem;
    width            : 95%;

}

img {
    width  : 100%;
    padding: 5px;

}

img:hover {
    transform : translateY(7px);
    transition: all 250ms linear 0s;
    opacity   : 0.75;
    cursor    : pointer;

}

img:active {
    background-color: black;


}

.fotosHome #grid {
    width       : 100%;
    height      : 100%;
    /* max-width: 800px; */
}

mat-card-content {
    margin-top: 1rem;
    text-align: center;
}

.sign {

    text-align    : center;
    margin        : 0;
    margin-top    : 1rem;
    padding-bottom: 1rem;
    opacity       : 60%;
}

.sign a {
    text-decoration: none;
    color          : white;
}

#grid {
    display              : grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap             : 2px;
}

h1 {
    font-family  : 'Dancing Script', cursive;
    font-size    : 4.5rem;
    font-style   : bold;
    margin-top   : 12px;
    margin-bottom: 15px;
}

h3 {
    font-family: 'Dancing Script', cursive;
    font-size  : 1.5rem;
    font-style : bold;
    margin-top : 15px;
}

@media screen and (max-width: 960px) {
    mat-card {
        width: 95%;
    }

    body {
        grid-auto-flow          : initial;
        display                 : grid;
        /* grid-template-columns: 310px 310px 310px; */
        grid-gap                : 20px;
    }

    h1 {
        font-family  : 'Dancing Script', cursive;
        font-size    : 3rem;
        font-style   : bold;
        margin-top   : 12px;
        margin-bottom: 12px;
    }

    h3 {
        font-family: 'Dancing Script', cursive;
        font-size  : 1rem;
        font-style : bold;
        margin-top : 15px;
    }


    .align {
        display          : block;
        grid-auto-flow   : row;
        grid-auto-columns: 1fr;
        /* padding          : 2px 10px; */
        text-align       : center;
        height           : 70%;
        width            : 95%;

    }

    /* img {
    width: 90%;
    padding: 1px;
    
} */
    img:hover {
        transform : translateY(7px);
        transition: all 250ms linear 0s;
        opacity   : 0.75;
        cursor    : pointer;

    }

    img:active {
        background-color: black;


    }

    .fotosHome #grid {
        width    : 100%;
        max-width: 800px;
    }

    mat-card-content {
        margin-top: 1rem;
        text-align: center;
    }

    .sign {

        text-align    : center;
        margin        : 0;
        margin-top    : 1rem;
        padding-bottom: 1rem;
        opacity       : 60%;
    }

    .sign a {
        text-decoration: none;
        color          : white;
    }

    #grid {
        display              : grid;
        grid-template-columns: 30% 30% 30%;
        grid-gap             : 2px;
    }

}