<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=The+Nautigal:wght@700&display=swap" rel="stylesheet">

<mat-card>
    <mat-card-header>
        
        <mat-card-title><h1>Let's Beautify</h1></mat-card-title>
        <mat-card-subtitle><h3>Agendamentos online</h3></mat-card-subtitle>
    </mat-card-header>
    <div class="align">
            <img class="fotoHome" src="assets/img/cardHome1.jpg" alt="img home1">
            <img class="fotoHome" src="assets/img/cardHome2.jpeg" alt="img home2">
            <img class="fotoHome" src="assets/img/cardHome3.jpg" alt="img home3">
    </div>
    <mat-card-content>
        <p>
            Esta aplicação foi desenvolvida no segundo semestre de 2022 para a entrega do PROJETO INTEGRADOR 3 da UNIVERSIDADE VIRTUAL DO ESTADO DE SÃO PAULO. 
        </p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button>CURTIR</button> -->
    </mat-card-actions>
</mat-card>
<p class="fullwidth sign"><a href="https://github.com/TonnyJames"target="_blank">Desenvolvido por: Tonny Reis</a></p>