.card {
    width: 90%;
    margin: 1rem auto;
    background-color: rgb(235, 235, 235);
}
img {
display: inline;
    height: 15rem;
    width: auto;
    /* width: 65%;
    justify-content: center;
    align-items: center; */
    
}