<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Let's Beautify</mat-card-title>
        <mat-card-subtitle>Agendamentos online</mat-card-subtitle>
    </mat-card-header>
    <div class="fotosHome">
        <img src="assets/img/cardHome1.jpg" alt="img home1">
        <img src="assets/img/cardHome2.jpeg" alt="img home2">
        <img src="assets/img/cardHome3.jpg" alt="img home3">
    </div>
    <mat-card-content>
        <p>
            Esta aplicação foi desenvolvida no primeiro semestre de 2022 para a entrega do PROJETO INTEGRADOR 2 da UNIVERSIDADE VIRTUAL DO ESTADO DE SÃO PAULO. 
        </p>
    </mat-card-content>
    <mat-card-actions>
        <!-- <button mat-button>CURTIR</button> -->
    </mat-card-actions>
</mat-card>
<p class="fullwidth sign"><a href="https://github.com/TonnyJames"target="_blank">Desenvolvido por: Tonny Reis</a></p>