<mat-card class="card mat-elevation-z8">
    <mat-card-header>
        <mat-card-title>Help Desk</mat-card-title>
        <mat-card-subtitle>Curso Spring + Angular</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/erudus.svg" alt="img home">
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores assumenda recusandae fugiat molestias
            eveniet quia quam quae similique. Iure, ut nostrum asperiores suscipit esse eum nihil iste natus eveniet
            exercitationem!
        </p>
    </mat-card-content>
    <!-- <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions> -->
</mat-card>