.container {
    height:100%;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,0,36,1) 0%, rgba(255,120,0,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 30%;
    height: 60%;
    margin: auto;
    background-color: rgb(235, 235, 235);
    padding: 4rem 1rem;
    border-radius: 1rem;
}

h1 {
    width: 100%;
    text-align: center;
}
img {
    height: 25%;
    width: 25%;
    margin-left: 37.5%;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.full-width {
    width: 100%;
}

button {
    margin-top: 1rem;
}

mat-icon {
    opacity: .6;
}