.container {
    height:100%;
    background: linear-gradient(174deg, rgba(43,34,35,1) 42%, rgba(173,23,40,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    width: 30%;
    height: 60%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.082);
    padding: 4rem 1rem;
    border-radius: 1rem;
    color: white;
}

h1 {
    width: 100%;
    text-align: center;
}

img {
    /* height: 25%; */
    width: 100%;
    /* margin-left: auto; */
    /* padding-bottom: 2rem; */
    /* padding-top: 1rem; */
}

.full-width {
    width: 100%;
}

button {
    margin-top: 1rem;
    width: 50%;
    margin-left: 25%;
    background-color: #261F20;
}

mat-icon {
    opacity: .6;
}