@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');

.container {
    padding-top: 2rem;
    height         : 100%;
    background     : linear-gradient(174deg, rgba(43, 34, 35, 1) 42%, rgba(173, 23, 40, 1) 100%);
    align-items    : center;
    justify-content: center;

}

.form {
    margin: auto;
    width           : 70%;
    height          : fit-content;
    background-color: white;
    padding         : 2rem 1rem;
    border-radius   : 1rem;
    box-shadow      : 4px 4px 4px 4px black;
}


h1 {
    width      : 100%;
    text-align : center;
    font-family: 'The Nautigal', cursive;
    font-size  : 4rem;
}

img {
    /* height: 25%; */
    display: flex;
    justify-content: center;
    margin: auto;
    width            : 55%;
    /* margin-left   : auto; */
    /* padding-bottom: 2rem; */
    /* padding-top   : 1rem; */
}

.full-width {
    width: 100%;
}

button {
    margin-top : 1rem;
    width      : 50%;
    margin-left: 25%;
    color      : #F25774;
    margin-bottom: 1rem;
}

.button:hover {
    transform: translateY(-5px)
}

.centralizado {
    /* margin-top: 1rem; */
    text-align: center;
}

mat-icon {
    opacity: .6;
}

.link {
    color: rgb(68, 68, 209);
}

.link:hover {
    cursor: pointer;
}

.linkAPI {
    margin-top: 2rem;
    color          : white;
    text-decoration: solid;
    font-family    : none;
}

.sign {
    text-align    : center;
    margin        : 0;
    margin-top    : 1rem;
    opacity       : 70%;
}

.sign a {
    text-decoration: none;
    color          : white;
}