<div class="container">
    <form class="form mat-elevation-z8">
        <div class="cabLogin">
            <img src="assets/img/logo p.png" alt="img login">
            <!--<h1 class="full-width centralizado">Let's Beautify</h1> -->
            <!--<h4 class="full-width centralizado">Agendamentos Online</h4>-->
        </div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>E-mail</mat-label>
            <input [formControl]="email" required [(ngModel)]="creds.email" name="email" matInput
                placeholder="Ex. fulano@emil.com">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input  [formControl]=senha required [(ngModel)]="creds.senha" name="senha" type="password" matInput
                placeholder="Ex. 123">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <button class="button" (click)="logar()" [disabled]="!validaCampos()"  mat-raised-button
            color="white">Login</button>

            <h3 class="full-width centralizado">ou</h3>
            <h3 class="full-width centralizado" (click)="escolherTipoRegistro()">Registre-se</h3>
            <!-- para chamar rota do registro: <a [routerLink]="['../registrar']"></a> -->

            <p class="fullwidth sign"><a href="https://github.com/TonnyJames"target="_blank">Desenvolvido por: Tonny Reis</a></p>
    </form>

</div>