
<mat-sidenav-container class="container" autosize>
    
    <mat-drawer #drawer class="sidenav" mode="side">
        
        <img src="assets/img/logo p bco.png" alt="img login">
        <mat-nav-list class="nav-list">
        </mat-nav-list>
            <div style="text-align:right">
                <button (click)="drawer.toggle()" id="btnclose">x</button> 
            </div>
        <mat-nav-list class="nav-list">
            <a mat-list-item [routerLink]="['home']">
                <i class="material-icons">home</i>
                Home
            </a>
        </mat-nav-list>
        <mat-nav-list class="nav-list">
            <a mat-list-item [routerLink]="['colaboradores']">
                <i class="material-icons">account_circle</i>
                Profissionais
            </a>
        </mat-nav-list>
        <mat-nav-list class="nav-list">
            <a mat-list-item [routerLink]="['clientes']">
                <i class="material-icons">person</i>
                Clientes
            </a>
            <a mat-list-item [routerLink]="['agendamentos']">
                <i class="material-icons">support</i>
                Agendamentos
            </a>
        </mat-nav-list>
        <!-- <mat-nav-list class="nav-list">
            <a mat-list-item href="https://github.com/TonnyJames" target="_blank">
                <i class="material-icons">code</i>
                Github
            </a>
        </mat-nav-list> -->
        <mat-nav-list class="nav-list">
            <a mat-list-item (click)=logout()>
                <i class="material-icons">logout</i>
                Sair
            </a>
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <app-header></app-header>
        <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>

